source/jade/index.jade
extends layout

block overlay
	.loading
		.tb-loader
			i.icomoon-tagbin.anim
		.k-contain#canvasworld

		.container-fluid.tile.hide.loadActions(data-action='getLikePosts', data-target='.data')
			.row-fluid.data
				.span5
					div#userpic
						img.pic.userpic(src='./static/img/laura.jpg')
				.span7
					.username Sar
					.post Hello, Guest
					.row-fluid
						.span1
							i.entypo-thumbs-up.thumb
						.span11#likes_count
		//-.hide.swipe_notification.pulsed Swipe your Tag

		.tagbin.hide
			.container-fluid
				.row-fluid
					.span5._text powered by
					.span7
						img.tagbin_img(src='./static/img/tagbin.png')

current/index.html
<!DOCTYPE html>
<html>
  <head>
    <title>tagBin</title>
    <link rel="stylesheet" type="text/css" href="./static/css/vendors-bundled.css">
    <script type="text/javascript" src="./static/js/vendors-bundled.js"></script>
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
  </head>
  <body>
    <div id="fb-root"></div>
    <div class="frontlayer">
      <div class="content">
      </div>
    </div>
    <div class="overlay">
      <div class="loading">
        <div class="tb-loader"><i class="icomoon-tagbin anim"></i></div>
        <div id="canvasworld" class="k-contain"></div>
        <div data-action="getLikePosts" data-target=".data" class="container-fluid tile hide loadActions">
          <div class="row-fluid data">
            <div class="span5">
              <div id="userpic"><img src="./static/img/laura.jpg" class="pic userpic"></div>
            </div>
            <div class="span7">
              <div class="username">Sar</div>
              <div class="post">Hello, Guest</div>
              <div class="row-fluid">
                <div class="span1"><i class="entypo-thumbs-up thumb"></i></div>
                <div id="likes_count" class="span11">15</div>
              </div>
            </div>
          </div>
        </div>
        <div class="tagbin hide">
          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span5 _text">powered by</div>
              <div class="span7"><img src="./static/img/tagbin.png" class="tagbin_img"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hide">
    </div>
  </body>
  <script type="text/javascript" src="./static/js/tagbin.js"></script>
  <script type="text/javascript" src="./static/js/main.js"></script>
</html>
